body{
	margin:0px;
	padding:0px 25px;
	background-image: url(foto/bgsegitiga.jpg);
}



header{
	background-color:rgba(176, 224, 230,0.8);
	padding:10px;

}

header p {
	text-align:center;
	font-size:40px;
	color:black;
	font-family:candara;
	font-weight: bold italic;